#searchbar {
  font-size: 28px;
  font-weight: 800;
  width: 80%;
  height: 50px;
}

#searchbar-div {
  padding-bottom: 10px;
}

div#searchbar-action {
  display: inline-block;
  width: 15%;
  padding-bottom: 14px;
  margin-top: 10px;
  /* border: 1px solid black; */
}
/* DISABLE BOOTSTRAP */
.card-header {
  padding: 0;
}

img.thumbnails:hover {
  border: 2px solid white;
}

#container{
  padding: 20px;
}

.close {
  float: right;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.6;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5
}

.selected {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.border {
  padding: 25px;
  border: 1px solid #d1d1d1;
  border-radius: 7px;
}

#my-image{
  display:none;
}
canvas {
  border: 1px solid black;
}

span#margarine {
  font-family: 'margarine';
}

span#indie {
  font-family: 'Indie Flower';
}

span#lilita {
  font-family: 'Lilita One';
}
span#roboto {
  font-family: 'roboto';
}

span#baloo {
  font-family: 'baloo chettan';
}

span#germania {
  font-family: 'Germania One';
}

span#inconsolata {
  font-family: 'Inconsolata';
}

/* NEW FONT */
span#titillium {
  font-family: 'Titillium Web', sans-serif;
}

span#mukta {
  font-family: 'Mukta', sans-serif;
}

span#muli {
  font-family: 'Muli', sans-serif;
}

span#anton {
  font-family: 'Anton', sans-serif;
}

span#lobster {
  font-family: 'Lobster', cursive;
}

span#pacifico {
  font-family: 'Pacifico', cursive;
}

span#noto {
  font-family: 'Noto Sans JP', sans-serif;
}
