<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Margarine|Roboto|Baloo+Chettan|Germania+One|Inconsolata|Indie+Flower|Lilita+One|Anton|Lobster|Mukta|Muli|Noto+Sans+JP|Pacifico|Titillium+Web" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/bibleable.css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Bibleable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search Bible Verse">
          </form>
        </div>
      </nav>
        
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10">
            <div class="row">
              <div class="col">
                  <canvas id="canvas" width="550" height="550"></canvas>
                  <img id="my-image" src="images/2.JPG" alt=""> 
                  <!-- <div id="app">
                      <img :src="datadata"></img>
                  </div> -->
              </div>

              <div class="col">
                <!-- REMOVE -->
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                          <i class="fa fa-font"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                          <i class="fa fa-tint"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                          <i class="fa fa-align-left"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-slider-tab" data-toggle="pill" href="#pills-slider" role="tab" aria-controls="pills-slider" aria-selected="false">
                          <i class="fa fa-sliders"></i>
                        </a>
                      </li>
      
                      <li class="nav-item">
                        <a class="nav-link" id="pills-window-tab" data-toggle="pill" href="#pills-window" role="tab" aria-controls="pills-window" aria-selected="false">
                          <i class="fa fa-window-restore"></i>
                        </a>
                      </li>

                      <!-- <button @click="download()">download</button> -->
                      <a href="#" id="downloader" @click="download()" download="image.png">Download!</a>

                      <li class="nav-item">
                          <div class="btn-group">
                              <button type="button" class="btn btn-success">Save to computer</button>
                              <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">save to computer</a>
                                <a class="dropdown-item" href="#">share on facebook</a>
                                <a class="dropdown-item" href="#">share on twitter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">share on whatsapp</a>
                                <a class="dropdown-item" href="#">share via email</a>
                              </div>
                            </div>
                      </li>
                    </ul>

                    <div id="app">
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                              <div class="col">
                              </div>
                              <div class="col">
                              </div>
                            </div>

                            <hr>
                            <span>Font family:</span>
                            
                            <div class="row">
                              <div class="col">
                                <input v-model="fontfamily" value="margarine" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                  <span id="margarine">Margarine</span>
                                </button>
                                <br>
                                <input v-model="fontfamily" value="roboto" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                  <span id="roboto">Roboto</span>
                                </button>
                                <br>
                                <input v-model="fontfamily" value="baloo chettan" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="baloo">Baloo Chettan</span>
                                </button>
                                <br>

                                <input v-model="fontfamily" value="inconsolata" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="inconsolata">Inconsolata</span>
                                </button>
                                <!-- <br> -->
                                <!-- <input v-model="fontfamily" value="lilita" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="lilita">Lilita</span>
                                </button> -->
                              </div>

                              <div class="col">
                                <!-- NEW FONT -->
                                <input v-model="fontfamily" value="Titillium Web" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="titillium">Titillium Web</span>
                                </button>
    
                                <br>
                                <input v-model="fontfamily" value="Mukta" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="mukta">Mukta</span>
                                </button>
    
                                <br>
                                <input v-model="fontfamily" value="Muli" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                                
                                <span id="muli">Muli</span>
                                </button>
                                <br>
                                <input v-model="fontfamily" value="indie flower" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                              
                                <span id="indie">Indie</span>
                                </button>
    
                              </div>

                              <div class="col">
                                <input v-model="fontfamily" value="Anton" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                                
                                <span id="anton">Anton</span>
                                </button>
    
                                <br>
                                <input v-model="fontfamily" value="Lobster" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                                
                                <span id="lobster">Lobster</span>
                                </button>
    
                                <br>
                                <input v-model="fontfamily" value="Pacifico" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                                
                                <span id="pacifico">Pacifico</span>
                                </button>
    
                                <br>
                                <input v-model="fontfamily" value="Noto Sans JP" type="radio"  class="btn btn-outline-dark btn-sm">
                                <button type="button" class="btn btn-outline-dark btn-sm">                                
                                <span id="noto">Noto Sans JP</span>
                                </button>

                              </div>
                            </div>

                            <hr>

                            <!-- <div>
                              <span>Center:</span>
                              <button @click="centerText()" type="button" class="btn btn-outline-dark btn-sm">
                                Center
                              </button>
  
                              <button @click="centerTextH()" type="button" class="btn btn-outline-dark btn-sm">
                                Horizontally
                              </button>
  
                              <button @click="centerTextV()" type="button" class="btn btn-outline-dark btn-sm">
                                Vertically
                              </button>
                            </div> -->

                            <div>
                              <p>Background:</p>

                              <div class="row">
                                <div class="col">
                                    <img @click="selectBackground(1)" src="images/thumbnails/1.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(2)" src="images/thumbnails/2.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(3)" src="images/thumbnails/3.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(4)" src="images/thumbnails/4.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(5)" src="images/thumbnails/5.JPG" width="40" height="40" alt="">
                                 
                                </div>

                                <div class="col">
                                    <img @click="selectBackground(1)" src="images/thumbnails/1.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(2)" src="images/thumbnails/2.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(3)" src="images/thumbnails/3.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(4)" src="images/thumbnails/4.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(5)" src="images/thumbnails/5.JPG" width="40" height="40" alt="">
                                 
                                </div>

                                <div class="col">
                                    <img @click="selectBackground(1)" src="images/thumbnails/1.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(2)" src="images/thumbnails/2.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(3)" src="images/thumbnails/3.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(4)" src="images/thumbnails/4.JPG" width="40" height="40" alt="">
                                    <img @click="selectBackground(5)" src="images/thumbnails/5.JPG" width="40" height="40" alt="">
                                 
                                </div>
                              </div>
                          
                            </div>
                          </div>
                        
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                          <div>
                              <span>Font size:</span>  <b><span>{{fontsize}}</span></b><br>
                              <input v-model.number="fontsize" type="range" min="18" max="43" value="30" class="slider" id="myRange"> <br>
                          </div>

                          <div>
                              <span>Colour:</span>
                              <br>
                              <button type="button" class="btn btn-outline-dark btn-sm">
                                <input v-model="textColor" value="white" type="radio"  class="btn btn-outline-dark btn-sm">
                                <i class="fa fa-check"></i>  
                              </button>
                  
                              <button type="button" class="btn btn-dark btn-sm">
                                  <input v-model="textColor" value="black" type="radio"  class="btn btn-outline-dark btn-sm">
                                <i class="fa fa-check"></i>  
                              </button>     
                            </div>                                  

                          <div>
                            <span>Actions:</span>
                            <button type="button" class="btn btn-outline-dark btn-sm">
                              redo
                              <i class="fa fa-repeat"></i> 
                            </button>
                
                            <button type="button" class="btn btn-outline-dark btn-sm">
                                <i class="fa fa-undo"></i> undo 
                            </button>                                
                          </div>

                            <div>
                                <span>Align:</span>

                                <br>
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <input v-model="textAlign" value="left" type="radio"  class="btn btn-outline-dark btn-sm">
                                     <i class="fa fa-align-left"></i> 
                                  </button>
                      
                                  <button type="button" class="btn btn-outline-dark btn-sm">
                                      <input v-model="textAlign" value="center" type="radio"  class="btn btn-outline-dark btn-sm">
    
                                     <i class="fa fa-align-center"></i> 
                                  </button>
                      
                                  <button type="button" class="btn btn-outline-dark btn-sm">
                                      <input v-model="textAlign" value="right" type="radio"  class="btn btn-outline-dark btn-sm">
    
                                     <i class="fa fa-align-right"></i> 
                                  </button>
                              </div>
  

                        </div>
                        
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <span>Text opacity:</span> <b><span>{{opacity}}%</span></b><br>
                            <input v-model.number="opacity" type="range" min="0" max="100" value="100" class="slider" id="myRange">
        
                            <br>
                            <span>Background Blur:</span> <b><span>{{backgroundblur}}%</span></b><br>
                            <input v-model.number="backgroundblur" type="range" min="0" max="100" value="0" class="slider" id="myRange"> <br>            

                          <!-- <hr>
                            <p>Background</p>
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button>5</button> -->
                        </div>
        
                        <div class="tab-pane fade" id="pills-slider" role="tabpanel" aria-labelledby="pills-slider-tab">
                          <p>Test</p>
                        </div>

                        <div class="tab-pane fade" id="pills-window" role="tabpanel" aria-labelledby="pills-window-tab">
                          <p>Test</p>
                        </div>
                      </div>
                    </div>

                  <a href="about.html">About</a>
              </div>
            </div>
        </div>

        <div class="col-sm-1"></div>
      </div>    
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.7.0/fabric.min.js"></script>
    <script>
      var canvas = new fabric.Canvas('canvas');
      document.getElementById("canvas").fabric = canvas;

      var grid = 20;
      var cWidth = canvas.getWidth();
      var cHeight = canvas.getHeight();

      canvas.on('mouse:down', function (e) {
        console.log('mouse is down. You should show the lines')
        for (var i = 0; i < (cWidth / grid); i++) {
          // console.log("-----------")
          // console.log(i)
          // console.log(grid)
          // console.log(cWidth)
          // console.log(i * grid)

          canvas.add(new fabric.Line([i * grid, 0, i * grid, cWidth], {
              stroke: '#d1d1d1',
              selectable: false
          }));
          canvas.add(new fabric.Line([0, i * grid, cWidth, i * grid], {
              stroke: '#d1d1d1',
              selectable: false
          }));
        }
      
        //CENTERING Y-axis
        canvas.add(new fabric.Line([cHeight/2, 0, cHeight/2, cWidth], {
            stroke: '#DE2E1F',
            selectable: false,
            strokeWidth: 2,
        }));

        //CENTERING X-axis
        canvas.add(new fabric.Line([0, cWidth/2, cWidth, cWidth/2 ], {
            stroke: '#DE2E1F',
            selectable: false, 
            strokeWidth: 2,
        }));
      });

      canvas.on('mouse:up', function (e) {
        console.log('mouse is up. You should hide the lines')
        var objects = canvas.getObjects('line');
        for (let i in objects) {
            canvas.remove(objects[i]);
        }
      });

      canvas.on('object:moving', function (e) {
        var cWidth = canvas.getWidth();
        var obj = e.target;
        var rect = obj.getBoundingRect();
        //If the condition is met, within the range of 20 by 20
        if(true == true){
          canvas.add(new fabric.Line([cHeight/2, 0, cHeight/2, cWidth], {
              stroke: 'green',
              selectable: false,
              strokeWidth: 10,
          }));
        }

        console.log("--------------")
        console.log("*center of canvas: " + (cWidth/2))
        console.log("*center: " + rect.width/2)
        console.log("left: " + rect.left)
        console.log("right: " + (rect.left + rect.height))
        console.log("top: " + rect.top)
        console.log("bottom: " + (rect.top + rect.height))
        console.log("width: " +rect.width)
        console.log("height: " +rect.height)


        // console.log(rect)
        // console.log(obj)

        // if (rect.left < 0
        //   || rect.top < 0
        //   || rect.left + rect.width > canvas.getWidth()
        //   || rect.top + rect.height > canvas.getHeight()) {
        //       if (obj.getAngle() != obj.originalState.angle) {
        //           obj.setAngle(obj.originalState.angle);
        //       }
        //       else {
        //           obj.setTop(obj.originalState.top);
        //           obj.setLeft(obj.originalState.left);
        //           obj.setScaleX(obj.originalState.scaleX);
        //           obj.setScaleY(obj.originalState.scaleY);
        //       }
        //       obj.setCoords();
        //   }
      });

      fabric.Object.prototype.set({  
          borderColor: 'tranparent',  
          cornerColor: 'tranparent',  
          cornerSize: 0,
          transparentCorners: true,
          padding:5,
          borderDashArray:[2,2]          
      });

      function setBackgroundProp(name, value) {
        var canvas = document.getElementById("canvas").fabric;
        var object = canvas.getObjects()
        if (!object) return;
        object[0].filters[0].blur = value
        object[0].applyFilters()
        canvas.renderAll();
      }

      function setActiveProp(name, value) {
        var canvas = document.getElementById("canvas").fabric;
        var object = canvas.getObjects()
        if (!object) return;
        object[1].set(name, value).setCoords();
        canvas.renderAll();
      }

      function centerObject(axis){
        var canvas = document.getElementById("canvas").fabric;
        var object = canvas.getObjects()
        if (!object) return;
        if(axis == "H"){ // Center Horizontally
          object[1].centerH();
        }
        else if(axis == "V"){ //Center Vertically 
          object[1].centerV();
        }
        else { //Center Horizontally and Vertically
          object[1].center();
        }
        canvas.renderAll();
      }

      // http://fabricjs.com/fabric-intro-part-2

      // Add a save now button
      //https://stackoverflow.com/questions/30629263/save-client-side-generated-image-on-button-click#30654232

      // limit the size of the itext
      // https://stackoverflow.com/questions/45406604/limit-text-input-on-itext-or-textbox#45506259

      function addText(text) {
        var text = new fabric.Textbox(text, {
          lockScalingY: true,
          lockScalingX: true,
          height:200,
          width: 500,
          align: 'mid', //added
          textAlign: 'center',
          fontFamily: 'Margarine',
          fill: '#333',
          opacity: 1.0,
          fontSize: 30,
          centeredScaling: true,
          lockScalingX: true,
        });

        canvas.add(text);
        text.center();
      }

      // Fabric.js
      canvas.selection = false;
      var imgElement = document.getElementById('my-image');
      var imgInstance = new fabric.Image(imgElement, {
        evented: false,
        opacity: 0.85
      });

      var filter = new fabric.Image.filters.Blur({
        blur: 0.01
      });

      imgInstance.filters.push(filter);
      imgInstance.applyFilters();
      canvas.renderAll();
      document.getElementById("canvas").blur = filter;

      canvas.add(imgInstance);

      addText("For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life. - John 3:16")

      var madeby = new fabric.IText("Created with Bibleable.com", {
        evented: false,
        fontSize: 22,
        textAlign: 'center',
        backgroundColor: '#FFFFFF',
        lockScalingX: true,
        lockScalingY: true,
        top: 600,
        left: 320 - 120,
        cornerSize: 20
      });

      // console.log(madeby.getBoundingRect().width)
      // console.log(madeby.getBoundingRect().height)

      canvas.add(madeby);

      // Vue component
      new Vue({
        el: "#app", 
        data: {
          textAlign: "center",
          datadata: "",
          fontsize: 30,
          opacity: 100,
          fontfamily: "margarine", 
          backgroundblur: 0,
          textColor: "black"
        },
        watch: {
          textColor: function(){
            setActiveProp('fill', this.textColor)
          },
          textAlign: function(){
            setActiveProp('textAlign', this.textAlign)
          },
          backgroundblur: function(){
            setBackgroundProp('blur', this.backgroundblur/100)
          },
          fontfamily: function(){
            console.log(this.fontfamily)
            setActiveProp('fontFamily', this.fontfamily)
          },
          opacity: function(){
            setActiveProp('opacity', this.opacity/100)
          },
          fontsize: function(){
            setActiveProp('fontSize', this.fontsize)
            this.centerText()
          },
          datadata: function(){
            // var vm = this
            // setTimeout(function(){
            //     vm.datadata = vm.calculateQRCode()
            //   }, 100);
          },
        },
        methods: {
          download: function(){
            console.log("reach here")
            // var canvas = document.getElementById("canvas");
            // window.location = canvas.toDataURL("image/png");

    //         var dt = canvas.toDataURL('image/png');
    // this.href = dt.replace(/^data:image\/[^;]/, 'data:application/octet-stream');


            document.getElementById("downloader").download = "image.png";
            document.getElementById("downloader").href = document.getElementById("canvas").toDataURL("image/png").replace(/^data:image\/[^;]/, 'data:application/octet-stream');

          },
          selectBackground: function(value){
            var canvas = document.getElementById("canvas").fabric;
            var object = canvas.getObjects()
            object[0].setSrc("images/" + value + ".JPG", function() {
              canvas.renderAll();
            });
            canvas.renderAll();
          },
          centerTextH: function(){
            centerObject("H")
          },
          centerTextV: function(){
            centerObject("V")
          },
          centerText: function(){
            centerObject()
          },
          calculateQRCode: function(){
            var canvasX = document.querySelector("canvas#canvas")
            var img = canvasX.toDataURL("image/png");
            this.datadata = img;
            var vm = this
            setTimeout(function(){
                vm.datadata = img //vm.calculateQRCode()
            }, 2000);
          }
        },
        mounted: function(){
          this.calculateQRCode()
        }
      });
  </script>
</body>
</html>
