
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bibleable - Bible Verse For Everyone</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Margarine|Roboto|Baloo+Chettan|Germania+One|Inconsolata|Indie+Flower|Lilita+One|Anton|Lobster|Mukta|Muli|Noto+Sans+JP|Pacifico|Titillium+Web" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <link rel="stylesheet" href="./css/bibleable.css" crossorigin="anonymous">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137813950-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-137813950-1');
  </script>  
</head>

<body>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>✝ Bibleable is an online bible verse generator!</strong> Try it and share it with your friends.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id="container" class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col">
            <canvas id="canvas" width="550" height="550"></canvas>
            <!-- <img id="my-image" src="" alt="">  -->
          </div>

            <div class="col border">
              <div id="app">
              <div class="btn-group">
                <button id="downloader" @click="download()" type="button" class="btn btn-success">Save to computer</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Save to computer</a>
                  <a class="dropdown-item" href="#">Share on facebook</a>
                  <a class="dropdown-item" href="#">Share on twitter</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Share on whatsapp</a>
                  <a class="dropdown-item" href="#">Share via email</a>
                </div>
              </div>
        
              <button title="magic edit" @click="magic_edit()" class="btn btn-outline-dark btn-sm"><i class="fa fa-magic"></i></button>
              <button title="expand" @click="toggleAccordion()" class="btn btn-outline-dark btn-sm"><i class="fa fa-expand"></i></button>
              <button type="button" class="btn btn-outline-dark btn-sm">
                  <i class="fa fa-undo"></i> undo 
              </button>                            
              <hr>
              <p>{{answer}}</p>

              <input v-model="question" type="text" placeholder="Search any verses"><button class="btn btn-outline-dark btn-sm" @click="getVerse()"><i class="fa fa-search"></i></button><button class="btn btn-outline-dark btn-sm" @click="clear()">clear</button>
              <br><br>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"       aria-controls="collapseOne">
                    <h5 class="mb-0">
                      <button class="btn">
                        <i class="fa fa-font"></i> Font Family
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show multi-collapse" aria-labelledby="headingOne">
                    <div class="card-body">                          
                      <div class="row">
                        <div class="col">
                          <button @click="selectFont('margarine')" type="button" class="btn btn-outline-dark">
                            <span id="margarine">Margarine</span>
                          </button>
                          <br>
                          <button @click="selectFont('roboto')" type="button" class="btn btn-outline-dark">
                            <span id="roboto">Roboto</span>
                          </button>
                          <br>
                          <button @click="selectFont('baloo chettan')" type="button" class="btn btn-outline-dark">                              
                            <span id="baloo">Baloo Chettan</span>
                          </button>
                          <br>

                          <button @click="selectFont('inconsolata')" type="button" class="btn btn-outline-dark">                              
                            <span id="inconsolata">Inconsolata</span>
                          </button>
                        </div>

                        <div class="col">
                          <button id="titillium" @click="selectFont('Titillium Web')" type="button" class="btn btn-outline-dark">                              
                            <span id="titillium">Titillium Web</span>
                          </button>  
                          <br>
                          <button @click="selectFont('Mukta')" type="button" class="btn btn-outline-dark">                              
                            <span id="mukta">Mukta</span>
                          </button>
                          <br>
                          <button @click="selectFont('Muli')" type="button" class="btn btn-outline-dark">                                
                            <span id="muli">Muli</span>
                          </button>
                          <br>
                          <button @click="selectFont('indie flower')" type="button" class="btn btn-outline-dark">                              
                            <span id="indie">Indie</span>
                          </button>
                        </div>

                        <div class="col">
                          <button id="anton" @click="selectFont('Anton')"  type="button" class="btn btn-outline-dark">                                
                            <span id="anton">Anton</span>
                          </button>
                          <br>
                          <button @click="selectFont('Lobster')" type="button" class="btn btn-outline-dark">                                
                            <span id="lobster">Lobster</span>
                          </button>
                          <br>
                          <button @click="selectFont('Pacifico')" type="button" class="btn btn-outline-dark">                                
                            <span id="pacifico">Pacifico</span>
                          </button>
                          <br>
                          <button @click="selectFont('Noto Sans JP')"  type="button" class="btn btn-outline-dark">                                
                            <span id="noto">Noto Sans JP</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!--class="card"-->

                <div class="card">
                  <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="mb-0">
                      <button class="btn collapsed">
                        <i class="fa fa-window-restore"></i> Background
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse show multi-collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <img class="thumbnails" v-for="image in thumbnails" @click="selectBackground(image.src)" :src="image.thumb" width="40" height="40" alt="">                                 
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!--class="card"-->

                <div class="card">
                  <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="mb-0">
                      <button class="btn collapsed">
                        <i class="fa fa-search-plus"></i> Font Settings
                      </button>
                    </h5>
                  </div>

                  <div id="collapseThree" class="collapse multi-collapse" aria-labelledby="headingThree">
                    <div class="card-body">
                      <div class="row">

                        <div class="col">
                          <div>
                            <span>Font size:</span>  <b><span>{{fontsize}}</span></b><br>
                            <input v-model.number="fontsize" type="range" min="18" max="43" value="30" class="slider" id="myRange"> <br>
                          </div>

                          <div>
                            <span>Colour:</span>
                            <br>
                            <button @click="selectColor('white')" type="button" class="btn btn-outline-dark btn-sm">
                              <i class="fa fa-check"></i>  
                            </button>
                
                            <button @click="selectColor('black')"  type="button" class="btn btn-dark btn-sm">
                              <i class="fa fa-check"></i>  
                            </button>     
                          </div>                                  

                          <div>
                            <span>Align:</span>
                            <br>
                            <button @click="selectAlign('left')" type="button" class="btn btn-outline-dark btn-sm">
                              <i class="fa fa-align-left"></i> 
                            </button>
                            <button  @click="selectAlign('center')" type="button" class="btn btn-outline-dark btn-sm">    
                                <i class="fa fa-align-center"></i> 
                            </button>
                            <button @click="selectAlign('right')"  type="button" class="btn btn-outline-dark btn-sm">    
                                <i class="fa fa-align-right"></i> 
                            </button>
                          </div>
                        </div>  <!-- col-->

                        <div class="col">
                          <span>Text opacity:</span> <b><span>{{opacity}}%</span></b><br>
                          <input v-model.number="opacity" type="range" min="0" max="100" value="100" class="slider" id="myRange">
      
                          <br>
                          <span>Background Blur:</span> <b><span>{{backgroundblur}}%</span></b><br>
                          <input v-model.number="backgroundblur" type="range" min="0" max="100" value="0" class="slider" id="myRange">                      
                        </div> <!-- col-->
                      </div> <!-- row -->

                      <!-- <div>
                        <span>Actions:</span>
                        <button type="button" class="btn btn-outline-dark btn-sm">
                          redo
                          <i class="fa fa-repeat"></i> 
                        </button>
            
                        <button type="button" class="btn btn-outline-dark btn-sm">
                            <i class="fa fa-undo"></i> undo 
                        </button>                                
                      </div> -->

                    </div>
                  </div>
                </div> <!--class="card"-->

                <!-- <div class="card">
                  <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h5 class="mb-0">
                      <button class="btn collapsed">
                        <i class="fa fa-sliders"></i> More Settings
                      </button>
                    </h5>
                  </div>

                  <div id="collapseFour" class="collapse multi-collapse" aria-labelledby="headingFour">
                    <div class="card-body">
                        <span>Text opacity:</span> <b><span>{{opacity}}%</span></b><br>
                        <input v-model.number="opacity" type="range" min="0" max="100" value="100" class="slider" id="myRange">
    
                        <br>
                        <span>Background Blur:</span> <b><span>{{backgroundblur}}%</span></b><br>
                        <input v-model.number="backgroundblur" type="range" min="0" max="100" value="0" class="slider" id="myRange">                      
                    </div>
                  </div>  
                </div> 
                 -->
                <!--class="card"-->

                <div class="card">
                  <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory">
                    <h5 class="mb-0">
                      <button class="btn collapsed">
                        <i class="fa fa-history"></i> Verse History
                      </button>
                    </h5>
                  </div>

                  <div id="collapseHistory" class="collapse multi-collapse" aria-labelledby="headingFour">
                    <div class="card-body">
                      <ul>
                        <p v-if="verseHistory.length==0">There is nothing in your verse history.</p>

                        <li v-for="verse in verseHistory">
                          {{verse}}
                          <button class="btn btn-outline-dark btn-sm" @click="enterVerse(verse)">enter</button>
                        </li>
                      </ul>
                    </div>
                  </div>  
                </div> <!--class="card"-->      
              </div> <!--id="accordion"-->
              
              </div> <!--id="app"-->
            </div><!--class="col border"-->

          </div><!--class="row"-->
        </div><!--class="col-sm-10"-->        
      <div class="col-sm-1"></div>
    </div>    

    <footer class="footer">
      <div class="container-fluid">
        <span class="text-muted">
          © Bibleable Project
          <a href="./about.html">About</a>
          <a href="./about.html">Donate</a>
          <a href="./about.html">Share</a>
          <a href="./about.html">FAQ</a>
        </span>
      </div>
    </footer>
  </div>
</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.7.0/fabric.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
  <script src="js/canvas-toBlob.js"></script>

  <script>
    // Vue component
    new Vue({
      el: "#app", 
      data: {
        verseHistory: [],
        question: "", 
        answer: "",
        thumbnails: [{index: 1, src: "https://i.postimg.cc/tgKDWn1R/1.jpg", thumb: "images/thumbnails/1.JPG"},
          {index: 2, src: "https://i.postimg.cc/XNFmH43D/2.jpg", thumb: "images/thumbnails/2.JPG"},
          {index: 3, src: "https://i.postimg.cc/pdp1DtqC/3.jpg", thumb: "images/thumbnails/3.JPG"},
          {index: 4, src: "https://i.postimg.cc/8c83pndH/4.jpg", thumb: "images/thumbnails/4.JPG"},
          {index: 5, src: "https://i.postimg.cc/y6FphjXM/5.jpg", thumb: "images/thumbnails/5.JPG"},
          {index: 6, src: "https://i.postimg.cc/Dw794D9p/6.jpg", thumb: "images/thumbnails/6.JPG"},
          {index: 7, src: "https://i.postimg.cc/DyPDh6Sr/7.jpg", thumb: "images/thumbnails/7.JPG"},
          {index: 8, src: "https://i.postimg.cc/MTfN88BH/8.jpg", thumb: "images/thumbnails/8.JPG"},
          {index: 9, src: "https://i.postimg.cc/kMb30WNs/9.jpg", thumb: "images/thumbnails/9.JPG"},
          {index: 10, src: "https://i.postimg.cc/bNg6Wv5L/10.jpg", thumb: "images/thumbnails/10.JPG"},
          {index: 11, src: "https://i.postimg.cc/NMRD4GT6/11.jpg", thumb: "images/thumbnails/11.JPG"},
          {index: 12, src: "https://i.postimg.cc/5tYnXS2k/12.jpg", thumb: "images/thumbnails/12.JPG"},
          {index: 13, src: "https://i.postimg.cc/8znZk0N6/13.jpg", thumb: "images/thumbnails/13.JPG"},
          {index: 14, src: "https://i.postimg.cc/x8ys0j1f/14.jpg", thumb: "images/thumbnails/14.JPG"},
          {index: 15, src: "https://i.postimg.cc/3JYStGtd/15.jpg", thumb: "images/thumbnails/15.JPG"},
          {index: 16, src: "https://i.postimg.cc/Qd6y9MkV/16.jpg", thumb: "images/thumbnails/16.JPG"},
          {index: 17, src: "https://i.postimg.cc/sxR6dGyH/17.jpg", thumb: "images/thumbnails/17.JPG"},
          {index: 18, src: "https://i.postimg.cc/FRSWBVtJ/18.jpg", thumb: "images/thumbnails/18.JPG"},
          {index: 19, src: "https://i.postimg.cc/CKXr762g/19.jpg", thumb: "images/thumbnails/19.JPG"},
          {index: 20, src: "https://i.postimg.cc/Pqx02Drm/20.jpg", thumb: "images/thumbnails/20.JPG"},
          {index: 21, src: "https://i.postimg.cc/vTWKcL3d/21.jpg", thumb: "images/thumbnails/21.JPG"}],
        //removed
        // thumbnails: [{index: 1, src: "images/thumbnails/1.JPG"},
        //               {index: 2, src: "images/thumbnails/2.JPG"},
        //               {index: 3, src: "images/thumbnails/3.JPG"},
        //               {index: 4, src: "images/thumbnails/4.JPG"},
        //               {index: 5, src: "images/thumbnails/5.JPG"},
        //               {index: 6, src: "images/thumbnails/6.JPG"},
        //               {index: 7, src: "images/thumbnails/7.JPG"},
        //               {index: 8, src: "images/thumbnails/8.JPG"},
        //               {index: 9, src: "images/thumbnails/9.JPG"},
        //               {index: 10, src: "images/thumbnails/10.JPG"},
        //               {index: 11, src: "images/thumbnails/11.JPG"},
        //               {index: 12, src: "images/thumbnails/12.JPG"},
        //               {index: 13, src: "images/thumbnails/13.JPG"},
        //               {index: 14, src: "images/thumbnails/14.JPG"},
        //               {index: 15, src: "images/thumbnails/15.JPG"},
        //               {index: 16, src: "images/thumbnails/16.JPG"},
        //               {index: 17, src: "images/thumbnails/17.JPG"},
        //               {index: 18, src: "images/thumbnails/18.JPG"},
        //               {index: 19, src: "images/thumbnails/19.JPG"},
        //               {index: 20, src: "images/thumbnails/20.JPG"},
        //               {index: 21, src: "images/thumbnails/21.JPG"}],
        textAlign: "center",
        datadata: "",
        fontsize: 30,
        opacity: 100,
        fontfamily: "margarine", 
        backgroundblur: 0,
        textColor: "black"
      },
      watch: {
        question: function () {
          if(this.question.length != 0){
            this.answer = 'Searching the bible...'
            this.getAnswer()
          } else {
            this.answer = ''
          }
        },
        textColor: function(){
          setActiveProp('fill', this.textColor)
        },
        textAlign: function(){
          setActiveProp('textAlign', this.textAlign)
        },
        backgroundblur: function(){
          setBackgroundProp('blur', this.backgroundblur/100)
        },
        fontfamily: function(){
          setActiveProp('fontFamily', this.fontfamily)
        },
        opacity: function(){
          setActiveProp('opacity', this.opacity/100)
        },
        fontsize: function(){
          setActiveProp('fontSize', this.fontsize)
          this.centerText()
        }
      },
      methods: {
        clear: function(){
          this.question = ''
          this.answer = ''
        },
        enterVerse: function(value){
          setText(value)
        },
        getVerse: function(){
          var search = escape(this.question.trim())
          var vm = this
          axios.get('https://bible-api.com/' + search)
            .then(function (response) {
              setText(response.data.text + " - " + response.data.reference)
              vm.verseHistory.push(response.data.text + " - " + response.data.reference)
              vm.answer = ""
            })
            .catch(function (error) {
              vm.answer = 'Cannot find the verse. Did you type correctly?' //+ error
            })
          },
          getAnswer: _.debounce(function () {
              // console.log(this.question)
              // var search = escape("psalm 23:1")
              // var vm = this
              // axios.get('https://bible-api.com/' + search)
              //   .then(function (response) {
              //     setText(response.data.text + " - " + response.data.reference)
              //     vm.answer = response.data.text + " - " + response.data.reference
              //   })
              //   .catch(function (error) {
              //     vm.answer = 'Error! Could not reach the API. ' + error
              //   })
            },
            1000
          ),
        magic_edit: function(){
          console.log("pick the best font")
          this.selectFont('Titillium Web')
          console.log("centering")
          centerObject()
          console.log("white or black")
          setActiveProp('fill', 'white')
          console.log("select a background")
          this.selectBackground(thumbnails[7].src)
          console.log("blurry background")
          setBackgroundProp('blur', 7/100)
        },
        toggleAccordion: function(){
          $('.multi-collapse').collapse('toggle');
        },
        selectAlign: function(value){
          this.textAlign = value
        },
        selectColor: function(value){
          this.textColor = value
        },
        selectFont: function(value){
          this.fontfamily = value
        },
        // Read https://blog.taucharts.com/svg-to-png/
        //http://jsfiddle.net/a9ude9p0/6/
        download: function(){
          $("#canvas").get(0).toBlob(function(blob){
            saveAs(blob, "bibleable.png");
          });
        },
        selectBackground: function(value){

          var imgInstance = new fabric.Image.fromURL(value, function(imgObject){
            canvas.setBackgroundImage(imgObject, canvas.renderAll.bind(canvas), {
              scaleX: canvas.width / imgObject.width,
              scaleY: canvas.height / imgObject.height
            });
          });

          // var canvas = document.getElementById("canvas").fabric;
          // var object = canvas.getObjects()
          // object[0].setSrc(value, function() {
          //   canvas.renderAll();
          // });
          // canvas.renderAll();
        },
        centerTextH: function(){
          centerObject("H")
        },
        centerTextV: function(){
          centerObject("V")
        },
        centerText: function(){
          centerObject()
        },
        calculateQRCode: function(){
          var canvasX = document.querySelector("canvas#canvas")
          var img = canvasX.toDataURL("image/png");
          this.datadata = img;
          var vm = this
          setTimeout(function(){
              vm.datadata = img //vm.calculateQRCode()
          }, 2000);
        }
      },
      mounted: function(){
        this.calculateQRCode()
      }
    });

    var canvas = new fabric.Canvas('canvas');
    document.getElementById("canvas").fabric = canvas;

    var grid = 20;
    var cWidth = canvas.getWidth();
    var cHeight = canvas.getHeight();

    //
    // CANVAS EVENTS
    //
    canvas.on('mouse:down', function (e) {
      console.log('mouse is down. You should show the lines')
      for (var i = 0; i < (cWidth / grid); i++) {
        canvas.add(new fabric.Line([i * grid, 0, i * grid, cWidth], {
            stroke: '#d1d1d1',
            selectable: false
        }));
        canvas.add(new fabric.Line([0, i * grid, cWidth, i * grid], {
            stroke: '#d1d1d1',
            selectable: false
        }));
      }
    });

    canvas.on('mouse:up', function (e) {
      console.log('mouse is up. You should hide the lines')
      var objects = canvas.getObjects('line');
      for (let i in objects) {
          canvas.remove(objects[i]);
      }
    });

    canvas.on('object:moving', function (e) {
      var cWidth = canvas.getWidth();
      var obj = e.target;
      var rect = obj.getBoundingRect();

      // console.log("--------------")
      // console.log("*center of canvas: " + (cWidth/2))
      // console.log("*center: " + rect.width/2)
      // console.log("left: " + rect.left)
      // console.log("right: " + (rect.left + rect.height))
      // console.log("top: " + rect.top)
      // console.log("bottom: " + (rect.top + rect.height))
      // console.log("width: " +rect.width)
      // console.log("height: " +rect.height)
    });

    // CUSTOM OBJECT 
    fabric.Object.prototype.set({  
      borderColor: 'tranparent',  
      cornerColor: 'tranparent',  
      cornerSize: 0,
      transparentCorners: true,
      padding:5,
      borderDashArray:[2,2]          
    });

    // CANVAS FUNCTIONS 
    function setText(value){
      var canvas = document.getElementById("canvas").fabric;
      var object = canvas.getObjects()
      if (!object) return;
      object[0].text = value
      centerObject()
      canvas.renderAll();
    }

    function setBackgroundProp(name, value) {
      // var canvas = document.getElementById("canvas").fabric;
      // var object = canvas.getObjects()
      // if (!object) return;
      // object[0].filters[0].blur = value
      // object[0].applyFilters()
      // canvas.renderAll();
    }

    function setActiveProp(name, value) {
      var canvas = document.getElementById("canvas").fabric;
      var object = canvas.getObjects()
      if (!object) return;
      object[0].set(name, value).setCoords();
      canvas.renderAll();
    }

    function centerObject(axis){
      var canvas = document.getElementById("canvas").fabric;
      var object = canvas.getObjects()
      if (!object) return;
      if(axis == "H"){ // Center Horizontally
        object[0].centerH();
      }
      else if(axis == "V"){ //Center Vertically 
        object[0].centerV();
      }
      else { //Center Horizontally and Vertically
        object[0].center();
      }
      canvas.renderAll();
    }

    function addText(text) {
      var text = new fabric.Textbox(text, {
        lockScalingY: true,
        lockScalingX: true,
        height:200,
        width: 500,
        align: 'mid', //added
        textAlign: 'center',
        fontFamily: 'Margarine',
        fill: '#333',
        opacity: 1.0,
        fontSize: 30,
        centeredScaling: true,
        lockScalingX: true,
      });

      canvas.add(text);
      text.center();
    }
      // http://fabricjs.com/fabric-intro-part-2
      // Add a save now button
      //https://stackoverflow.com/questions/30629263/save-client-side-generated-image-on-button-click#30654232
      // limit the size of the itext
      // https://stackoverflow.com/questions/45406604/limit-text-input-on-itext-or-textbox#45506259

    // Fabric.js
    canvas.selection = false;
    var img = new Image()
    // img.crossOrigin = "anonymous";
    img.src = "https://i.postimg.cc/XNFmH43D/2.jpg"
    img.onload = function() {
        var imgInstance = new fabric.Image.fromURL(img.src, function(imgObject){
        // imgObject.crossOrigin = "anonymous"
        var filter = new fabric.Image.filters.Blur({
          blur: 0.01
        });
        imgObject.filters.push(filter)
        imgObject.applyFilters()
        canvas.renderAll();
        document.getElementById("canvas").blur = filter;
        imgObject.evented = false;

        canvas.setBackgroundImage(imgObject, canvas.renderAll.bind(canvas), {
          scaleX: canvas.width / imgObject.width,
          scaleY: canvas.height / imgObject.height
        });

        addText("For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life. - John 3:16")

        var madeByBibleable = new fabric.IText("Created with Bibleable.com", {
          evented: false,
          fontSize: 22,
          textAlign: 'center',
          backgroundColor: '#FFFFFF',
          lockScalingX: true,
          lockScalingY: true,
          top: 600,
          left: 320 - 120,
          cornerSize: 20
        });

        canvas.add(madeByBibleable);
      },{ crossOrigin: 'Anonymous' })
    }
  </script>
</html>
